{% extends 'base.html' %}
{% block body %}


<div class="row text-center mt-3"><h3>PARTICIPANT CONSENT FORM</h3></div>

<div class="row mt-3"><p>Please take your time to read and fill out the consent form in front of you. You'll be send a copy of this form via email if you decide to take part in the study. If you have any questions feel free to ask the research assistant conducting the study at this point.</p></div>


<div class="row mt-5"></div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkConfirm">
    <label class="form-check-label" for="checkConfirm">
        I confirm that I have read and understood the the consent form and agree to the terms stated.
    </label>
</div>

<form action="/" method="post">
  <div class="text-center mt-2 mb-5">
    <input type="submit" class="btn btn-primary" id="btn1" disabled="" value="Submit"/>
  </div> 
</form>

{% endblock %}

{% block script %}
<script>
$('.form-check-input').change(function() {
    if ($('.form-check-input:checked').length > 0) {
      $('#btn1').prop('disabled', false);
    } else {
      $('#btn1').prop('disabled', true);
    }
  });
</script>
{% endblock %}